.sideBar {
  width: 15%;
}

.sideNav {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
}

.sideNav a {
  display: flex;
  align-items: center;
  gap: 5px;
}
