.hover:hover {
  opacity: 0.55;
}

.playPauseIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover {
  opacity: 0;
  background-color: #818281;
  border-radius: 10px;
}

.isPlaying {
  background-color: #818281;
  border-radius: 10px;
  opacity: 0.55;
}

.playPause {
  width: 100%;
  height: 98%;
  position: absolute;
  cursor: pointer;
}
