.navMenu {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.navMenu a {
  display: flex;
  align-items: center;
  gap: 5px;
}
